sudo: required
services:
  - docker

branches:
  only:
    - master
    - staging

before_script:
  - docker pull michaelkoconnor/chatty-cathy || true

script:
  - |
    docker build --pull --cache-from michaelkoconnor/chatty-cathy \
    --tag michaelkoconnor/chatty-cathy .
  - |
    docker run -d -p 4000:4000 \
    -e NODE_ENV=test \
    -e DB_HOST=${DB_HOST} \
    -e DB_PASS=${DB_PASS} \
    -e DB_USER=${DB_USER} \
    --name=chatty-cathy michaelkoconnor/chatty-cathy
  - docker ps
  - docker exec chatty-cathy npm test

after_script:
  - docker images

before_deploy:
  - docker login -u "michaelkoconnor" -p "${DOCKERHUB_PASS}"

deploy:
  provider: script
  script: docker push michaelkoconnor/chatty-cathy
  on:
    branch: master
