sudo: required
services:
  - docker

branches:
  only:
    - master
    # - development

before_script:
  - [ $TRAVIS_PULL_REQUEST == true ] && sh scripts/travis-check-version.sh
  - docker pull michaelkoconnor/chatty-cathy || true

script:
  - sh scripts/travis-build.sh

after_script:

before_deploy:
  - sh scripts/travis-install-kubectl.sh
  - docker login -u "michaelkoconnor" -p "${DOCKERHUB_PASS}"

deploy:
  provider: script
  script: bash scripts/travis-deploy.sh
  on:
    branch: master
