sudo: required
services:
  - docker

branches:
  only:
    - master
    # - development

before_script:
  # - sh scripts/travis-check-version.sh
  - sh scripts/travis-install-kubectl.sh
  - docker pull michaelkoconnor/chatty-cathy || true

script:
  - sh scripts/travis-build.sh

after_script:

before_deploy:
  - docker login -u "michaelkoconnor" -p "${DOCKERHUB_PASS}"

deploy:
  provider: script
  script:
    sh scripts/travis-deploy.sh
    # - echo $PACKAGE_VERSION
    # - docker push michaelkoconnor/chatty-cathy
    # - kubectl set image deployments/chatty-cathy-deployment chatty-cathy=michaelkoconnor/chatty-cathy:latest
    # - kubectl set image deployments/chatty-cathy-deployment chatty-cathy=michaelkoconnor/chatty-cathy:$PACKAGE_VERSION
  on:
    branch: master
