sudo: required
services:
  - docker

branches:
  only:
    - master

script:
  - docker build --tag michaelkoconnor/chatty-cathy .
  - docker run -d -p 4000:4000 \
  -e NODE_ENV=test \
  -e DB_HOST=${DB_HOST} \
  -e DB_PASS=${DB_PASS} \
  -e DB_USER=${DB_USER} \
  --name=chatty-cathy michaelkoconnor/chatty-cathy
  - docker ps
  - docker exec chatty-cathy npm test

after_script:
  - docker images
