sudo: required
services:
  - docker

branches:
  only:
    - master

script:
  - docker build --tag michaelkoconnor/chatty-cathy .
  - docker run -d michaelkoconnor/chatty-cathy
  # - docker exec -it $(docker ps -aqf "name=chattycathy_chatty-cathy_1") /bin/sh
  # - docker stop $(docker ps -aqf "name=michaelkoconnor/chatty-cathy")
  # - docker ps | grep -q michaelkoconnor/chatty-cathy

after_script:
  - docker images
