sudo: required
services:
  - docker

branches:
  only:
    - master

script:
  - docker build --tag michaelkoconnor/chatty-cathy .
  - docker run michaelkoconnor/chatty-cathy

after_script:
  - docker images
